App_WebReferences/DoctorServiceReference/DoctorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllDoctors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="doctorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDoctorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDoctorsResult" type="tns:ArrayOfSerializableDoctor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSerializableDoctor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SerializableDoctor" nillable="true" type="tns:SerializableDoctor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerializableDoctor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetITotalDoctorsCount">
        <s:complexType />
      </s:element>
      <s:element name="GetITotalDoctorsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetITotalDoctorsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllDoctorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDoctors" />
  </wsdl:message>
  <wsdl:message name="GetAllDoctorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDoctorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetITotalDoctorsCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetITotalDoctorsCount" />
  </wsdl:message>
  <wsdl:message name="GetITotalDoctorsCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetITotalDoctorsCountResponse" />
  </wsdl:message>
  <wsdl:portType name="DoctorServiceSoap">
    <wsdl:operation name="GetAllDoctors">
      <wsdl:input message="tns:GetAllDoctorsSoapIn" />
      <wsdl:output message="tns:GetAllDoctorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITotalDoctorsCount">
      <wsdl:input message="tns:GetITotalDoctorsCountSoapIn" />
      <wsdl:output message="tns:GetITotalDoctorsCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoctorServiceSoap" type="tns:DoctorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDoctors">
      <soap:operation soapAction="http://tempuri.org/GetAllDoctors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITotalDoctorsCount">
      <soap:operation soapAction="http://tempuri.org/GetITotalDoctorsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoctorServiceSoap12" type="tns:DoctorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDoctors">
      <soap12:operation soapAction="http://tempuri.org/GetAllDoctors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITotalDoctorsCount">
      <soap12:operation soapAction="http://tempuri.org/GetITotalDoctorsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoctorService">
    <wsdl:port name="DoctorServiceSoap" binding="tns:DoctorServiceSoap">
      <soap:address location="http://localhost:49999/WebServices/DoctorService.asmx" />
    </wsdl:port>
    <wsdl:port name="DoctorServiceSoap12" binding="tns:DoctorServiceSoap12">
      <soap12:address location="http://localhost:49999/WebServices/DoctorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>